.main1 {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-left: 125vh;
    margin-top: -50vh;
  }
  
  .up1 {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .down1 {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .card11 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: rgb(76, 73, 94);
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
  }
  
  .instagram {
    margin-top: 1.5em;
    margin-left: 2.1em;
    fill: #cc39a4;
  }
  
  .card12 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: rgb(76, 73, 94);
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
  }
  
  .twitter {
    margin-top: 1.5em;
    margin-left: 1em;
    fill: #03a9f4;
  }
  
  .card13 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: rgb(76, 73, 94);
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
  }
  
  .github {
    margin-top: -0.6em;
    margin-left: 2.1em;
  }
  
  .card14 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: rgb(76, 73, 94);
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
  }
  
  .discord {
    margin-top: -0.9em;
    margin-left: 1em;
    fill: #8c9eff;
  }
  
  .card11:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #cc39a4;
  }
  
  .card11:hover .instagram {
    fill: white;
  }
  
  .card12:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #03a9f4;
  }
  
  .card12:hover .twitter {
    fill: white;
  }
  
  .card13:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: rgba(39, 36, 36, 0.748);
  }
  
  .card13:hover .github {
    fill: white;
  }
  
  .card14:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #8c9eff;
  }
  
  .card14:hover .discord {
    fill: white;
  }

  /* For screens with a width of 768px or less */
@media only screen and (max-width: 768px) {
  .main1 {
    margin-left: 0;
    margin-top: 0;
  }
  .up1,
  .down1 {
    flex-direction: column;
    align-items: center;
  }
  .card11,
  .card12,
  .card13,
  .card14 {
    margin-bottom: 1em;
  }
}

/* For screens with a width of 992px or less */
@media only screen and (max-width: 992px) {
  .main1 {
    margin-left: 50vh;
    margin-top: -25vh;
  }
}

/* For screens with a width of 1200px or less */
@media only screen and (max-width: 1200px) {
  .card11,
  .card12,
  .card13,
  .card14 {
    width: 75px;
    height: 75px;
  }
  .instagram,
  .twitter,
  .github,
  .discord {
    margin-top: 1em;
    margin-left: 1.5em;
  }
}

/* For screens with a width of 1400px or less */
@media only screen and (max-width: 1400px) {
  .card11,
  .card12,
  .card13,
  .card14 {
    width: 80px;
    height: 80px;
  }
}

/* For screens with a width of 1600px or less */
@media only screen and (max-width: 1600px) {
  .card11,
  .card12,
  .card13,
  .card14 {
    width: 85px;
    height: 85px;
  }
}

/* For screens with a width of 1920px or less */
@media only screen and (max-width: 1920px) {
  .card11,
  .card12,
  .card13,
  .card14 {
    width: 90px;
    height: 90px;
  }
}

  
  